<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example">

    <supports-screens android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true" />


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginInterface"
        android:usesCleartextTraffic="true">



        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAemeYNNrXHC7Ogy7BFrZ8lvXWq8QUlmbc"/>


        <activity android:name=".activity.Location"></activity>
        <activity android:name=".activity.PrescriptieMedicala" />
        <activity android:name=".activity.VizualizarePrescriptieDoctor" />
        <activity android:name=".activity.ListaPacientiPrescriptie" />
        <activity android:name=".activity.VizualizareProgramare" />
        <activity android:name=".activity.AddPrescriptie" />
        <activity android:name=".activity.ServiciuAmbulantaInterface" />
        <activity android:name=".activity.UrgentaMedicala" />
        <activity android:name=".activity.ListaPacientiFisa" />
        <activity android:name=".activity.FisaMedicala" />
        <activity android:name=".activity.AddFisaMedicala" />
        <activity android:name=".activity.AddServiciuAmbulanta" />
        <activity android:name=".activity.ListaPacienti" />
        <activity android:name=".activity.ResetPassword" />
        <activity android:name=".activity.Mesaj" />
        <activity android:name=".activity.ListaDoctoriMesaj" />
        <activity android:name=".activity.ListaDoctoriProgramare" />
        <activity android:name=".activity.DoctorInterface" />
        <activity android:name=".activity.CalendarProgramare" />
        <activity android:name=".activity.ListaDoctori" />
        <activity android:name=".activity.AddDoctor" />
        <activity android:name=".activity.AddPatient" />
        <activity
            android:name=".activity.Admin"
            android:label="@string/title_activity_admin"
            android:theme="@style/Theme.LoginInterface.NoActionBar" />
        <activity android:name=".activity.PatientInterface" />
        <activity android:name=".activity.Register" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MyFirebaseInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>