<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginInterface">
        <activity android:name=".doctorinterface.ListaPacientiFisa"></activity>
        <activity android:name=".patientinterface.FisaMedicala" />
        <activity android:name=".doctorinterface.AddFisaMedicala" />
        <activity android:name=".admininterface.AddServiciuAmbulanta" />
        <activity android:name=".doctorinterface.ListaPacienti" />
        <activity android:name=".logininterface.ResetPassword" />
        <activity android:name=".patientinterface.Mesaj" />
        <activity android:name=".patientinterface.ListaDoctoriMesaj" />
        <activity android:name=".patientinterface.ListaDoctoriProgramare" />
        <activity android:name=".doctorinterface.DoctorInterface" />
        <activity android:name=".patientinterface.CalendarProgramare" />
        <activity android:name=".patientinterface.ListaDoctori" />
        <activity android:name=".admininterface.AddDoctor" />
        <activity android:name=".admininterface.AddPatient" />
        <activity
            android:name=".admininterface.Admin"
            android:label="@string/title_activity_admin"
            android:theme="@style/Theme.LoginInterface.NoActionBar" />
        <activity android:name=".patientinterface.PatientInterface" />
        <activity android:name=".logininterface.Register" />
        <activity android:name=".logininterface.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>